# Credentials
src/config/credentials.json
src/config/config.json
src/config/token.json
auth.txt
.env*

# Local Files
src/scripts/git-over-here/homework/*/
src/scripts/git-over-here/lunch.txt
src/scripts/wiki/*.md
src/scripts/puppetmaster/*.md
*/.DS_Store

# Dependencies
node_modules/
yarn.lock
./src/scripts/git-over-here/Brewfile.lock.json

